



					    <nav class="site-nav">
      <div class="container">
        <div class="menu-bg-wrap">
          <div class="site-navigation">
            <a href="about.html" class="logo m-0 float-start">Sports Academy</a>

            <ul
              class="js-clone-nav d-none d-lg-inline-block text-start site-menu float-end"
            >
              <li class="active"><a href="about.html">Home</a></li>
				 <li class="has-children">
                <a href="properties.html">Enquiry</a>
                <ul class="dropdown">
                  <li><a href="enquiry_form">Enquiry Entry</a></li>
					<li><a href="enquiry_list">Enquiry List</a></li>
                </ul>
              </li>
				<li class="has-children">
                <a href="properties.html">Admission</a>
                <ul class="dropdown">
                  <li><a href="{% url 'register' %}" class="pl-4">Admission Form</a></li>
					<li><a href="{% url 'sessions' %}" class="pl-4">Add Sessions</a></li>
					<li><a href="{% url 'admission_list' %}" class="pl-4">Report</a></li>
                </ul>
              </li>
				<li class="has-children">
                <a href="properties.html">Coach</a>
                <ul class="dropdown">
                  <li><a href="{% url 'coach_reg' %}" class="pl-4">Coach Registration</a></li>
					<li><a href="{% url 'coach_attendence' %}" class="pl-4">Coach Attendence</a></li>
                    <li><a href="{% url 'coach_attendance_list' %}" class="pl-4">Coach Attendence List</a></li>
                    <li><a href="{% url 'player_name' %}" class="pl-4">Coach Allocation</a></li>
					<li><a href="{% url 'coach_list' %}" class="pl-4">Report</a></li>
                </ul>
              </li>
				<li class="has-children">
                <a href="properties.html">Purchase</a>
                <ul class="dropdown">
                  <li><a href="{% url 'company_details' %}" class="pl-4">Supplier Entry</a></li>
					<li><a href="{% url 'supplier_list' %}" class="pl-4">Supplier List</a></li>
					<li><a href="{% url 'purchase_kit' %}" class="pl-4">Purchase products</a></li>
					<li><a href="{% url 'purchase_kit_list' %}" class="pl-4">product_list</a></li>
                </ul>
              </li>
				<li class="has-children">
                <a href="properties.html">Stock</a>
                <ul class="dropdown">
                  	<li><a href="{% url 'company_details' %}" class="pl-4">Supplier Entry</a></li>
					<li><a href="{% url 'supplier_list' %}" class="pl-4">Supplier List</a></li>
					<li><a href="{% url 'purchase_kit' %}" class="pl-4">Purchase products</a></li>
					<li><a href="{% url 'purchase_kit_list' %}" class="pl-4">product_list</a></li>
					<li><a href="{% url 'store_list' %}" class="pl-4">Stock list</a></li>
                </ul>
              </li>
				<li class="has-children">
                <a href="properties.html">Sale</a>
                <ul class="dropdown">
                  	<li><a href="{% url 'product_dist' %}" class="pl-4">Distribution</a></li>
					<li><a href="{% url 'customer' %}" class="pl-4">Customer_register</a></li>
					<li><a href="{% url 'customer_list' %}" class="pl-4">Customer_list</a></li>
					<li><a href="{% url 'customer_prod_dist' %}" class="pl-4">Product Sale</a></li>
                    <li><a href="{% url 'customer_sale_list' %}" class="pl-4">customer_sale_list</a></li>
                </ul>
              </li>
				<li class="has-children">
                <a href="properties.html">Reports</a>
                <ul class="dropdown">
                  	<li><a href="{% url 'admission_list' %}" class="pl-4">Admission</a></li>
					<li><a href="{% url 'coach_list' %}" class="pl-4">Coach</a></li>
                    <li><a href="{% url 'player_sale_list' %}" class="pl-4">player_sale_list</a></li>
					<li><a href="{% url 'customer_sale_list' %}" class="pl-4">customer_sale_list</a></li>
                    <li><a href="{% url 'attendance_list' %}" class="pl-4"> player Attendence</a></li>
                     <li><a href="{% url 'coach_attendance_list' %}" class="pl-4">Coach Attendence </a></li>
                </ul>
              </li>



            <li><a href="{% url 'userlogin' %}">Logout</a>   </li>
            </ul>

            <a
              href="#"
              class="burger light me-auto float-end mt-1 site-menu-toggle js-menu-toggle d-inline-block d-lg-none"
              data-toggle="collapse"
              data-target="#main-navbar"
            >
              <span></span>
            </a>
          </div>
        </div>
      </div>
    </nav>
