<section id="header">
	<nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"><i class="fa fa-trophy"></i> <span class="col">Sports</span> Team</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
         <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'home' %}" class="m_tag">Home</a></li> <!-- Added Home link here -->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle m_tag" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Enquiry <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'enquiry_form' %}" class="pl-4">Enquiry Form</a></li>
                            <li><a href="{% url 'enquiry_list' %}" class="pl-4">Enquiry List</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle m_tag" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admission <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'register' %}" class="pl-4">Admission Form</a></li>
                            <li><a href="{% url 'admission_list' %}" class="pl-4">Admission List</a></li>
                            <li><a href="{% url 'sessions' %}" class="pl-4">Add Sessions</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle m_tag" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Coach <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'coach_reg' %}" class="pl-4">Coach Registration</a></li>
                            <li><a href="{% url 'coach_list' %}" class="pl-4">Coach List</a></li>
                            <li><a href="{% url 'player_name' %}" class="pl-4">Coach Allocation</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle m_tag" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Stock <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'kit_entry' %}" class="pl-4">Kit Entry</a></li>
                            <li><a href="{% url 'kit_list' %}" class="pl-4">Kit List</a></li>
                            <li><a href="{% url 'item_entry' %}" class="pl-4">Item Entry</a></li>
                            <li><a href="{% url 'item_list' %}" class="pl-4">Item List</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle m_tag" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Distribution <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'kit_dist' %}" class="pl-4">Kit Distribution</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
            <!-- /.container-fluid -->
        </nav>
    </section>